version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout

      # Create folder for test results.
      - run:
          name: create test result folder
          command: |
            mkdir test-reports

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      # We use this as soon as implementation start.
      # - run:
      #    name: install dependencies
      #    command: |
      #      python3 -m venv venv
      #      . venv/bin/activate
      #      pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      # Run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            py.test > test-reports/pytest.log

      # Store test results.
      - store_artifacts:
          path: test-reports
          destination: test-reports